.header {
  background: #141414; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .menu .addon-box:first-child {
      margin-right: 20px; }

.jms-megamenu .nav > li > a {
  line-height: 27px;
  color: #fff; }
  .jms-megamenu .nav > li > a:hover {
    color: #858585; }
    .jms-megamenu .nav > li > a:hover i {
      fill: #858585; }
  .jms-megamenu .nav > li > a i {
    fill: #fff; }

.right-icon-group svg {
  fill: #fff; }

.right-icon-group .cart-icon {
  color: #fff; }

.right-icon-group .languages-info .btn-xs,
.right-icon-group .currency-info .btn-xs {
  color: #fff; }

.jms-banner > a {
  display: block;
  overflow: hidden; }

.jms-banner .banner-content {
  position: unset;
  text-align: center;
  margin-top: 18px; }
  .jms-banner .banner-content .banner-title {
    font-size: 24px;
    padding-bottom: 9px; }
  .jms-banner .banner-content .banner-desc {
    color: #858585;
    padding-bottom: 19px; }

#footer {
  border-top: 0;
  padding-top: 0;
  margin-top: 70px; }
  #footer .footer-bottom {
    background: #141414;
    padding: 9px 0;
    border-top: 0; }
    #footer .footer-bottom .container > .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #footer .footer-bottom .find-us {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #footer .footer-bottom .find-us li a {
        color: #fff; }
    #footer .footer-bottom p {
      font-size: 10px;
      color: #858585;
      margin-bottom: 0; }
      #footer .footer-bottom p a {
        text-decoration: underline;
        color: #858585; }
        #footer .footer-bottom p a:hover {
          color: #fff; }
