.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header #jms_ajax_search .btn-search span {
  display: none; }

.jms-banner > a {
  display: block;
  overflow: hidden; }

.jms-banner .banner-content {
  position: unset;
  text-align: center;
  margin-top: 18px; }
  .jms-banner .banner-content .banner-title {
    font-size: 24px;
    padding-bottom: 9px; }
  .jms-banner .banner-content .banner-desc {
    color: #858585;
    padding-bottom: 19px; }

#footer .find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
