.left-icon-group .addon-box {
	margin-right: 25px;
	margin-left: 0;
}
#footer #social_block ul li {
	margin-right: 28px;
	margin-left: 0;
}
.footer-bottom-2 ul {
	text-align: left;
}
.footer-bottom-2 ul li {
	margin-right: 26px;
	margin-left: 0;
}