.left_column {
	float: right;
	padding-left: 20px;
	padding-right: 0;
}
.right_column {
	padding-right: 20px;
	padding-left: 0;
}
.main-site {
	left: 0;
}
.main-site.open-sidebar1 {
	left: 0;
	right: auto;
}
#cart-cl, #module-group {
	right: 100%;
	left: auto;
}