@media (min-width: 992px){
	#wrapper {
		margin-right: 176px;
		margin-left: 0;
	}
	#cart-cl {
		right: 100%;
		left: auto;
	}
}
#header {
	right: 0;
	left: auto;
}
.main-site.open-sidebar1 {
	left: 0;
	right: auto;
}
#module-group {
	right: calc(100% + 15px);
	left: auto;
}