.header {
  border-bottom: 1px solid #e5e5e5; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .menu .addon-box:first-child {
      margin-right: 20px; }
  .header .jms-megamenu .nav > li > a {
    line-height: 27px; }

.jms-banner > a {
  display: block;
  overflow: hidden; }

.jms-banner .banner-content {
  position: unset;
  text-align: center;
  margin-top: 18px; }
  .jms-banner .banner-content .banner-title {
    font-size: 24px;
    padding-bottom: 9px; }
  .jms-banner .banner-content .banner-desc {
    color: #858585;
    padding-bottom: 19px; }

#footer {
  border-top: 0;
  margin-top: 0; }
  #footer .find-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #footer #newsletter_block_left .news_content {
    margin-top: 23px;
    margin-bottom: 38px; }
  #footer .footer-top {
    margin-bottom: 40px; }
    #footer .footer-top #social_block .fa {
      min-width: auto;
      padding-right: 20px; }
