.page-not-found {
	text-align: center;
}
#pagenotfound .breadcrumb{
	display: none;
}
#pagenotfound #wrapper{
	padding: 200px 0;
	background: url('../img/bg-error.jpg') no-repeat;
	background-size: cover;
}
.page-not-found .small-text{
	margin-bottom: 50px;
}
.page-not-found .icon i{
	font-size: 250px;
	margin-bottom: 30px;
}
.page-not-found #search_widget{
	max-width: 370px;
}
.page-not-found h3 {
	text-transform: capitalize;
	font-weight: 900;
	font-size: 220px;
	padding-bottom: 0;
	color: #000;
	letter-spacing: 11px;
	margin-top: 13px;
}
.page-not-found .back-to-home {
	color: #b20f0f;
}
.page-not-found p.text-1 {
	margin-top: 12px;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 3.6px;
	margin-bottom: 21px;
	text-transform: uppercase;
}
.page-not-found p.text-2 {
	margin-bottom: 59px;
	color: #8f8f8f;
	letter-spacing: 0.3px;
	line-height: 1.7;
}
.page-not-found .search-box {
	display:flex;
	justify-content:center;
}
#pagenotfound #main h4, #search #main h4 {
	font-size: 25px;
	font-weight: 700;
	padding: 0;
	line-height: 1;
	margin-bottom: 20px;
}
#search .h2 {
	font-size:26px;
	text-transform:uppercase;
}
#pagenotfound .large-text, #search .large-text {
	color:#454545;
	font-size: 45px;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
	font-weight:700;
}
#pagenotfound .small-text, #search .small-text {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 50px;
}
#pagenotfound #footer {
	margin-top: 0;
	border-top: 0;
}
@media (max-width: 1366px){
	#pagenotfound #wrapper{
		padding: 100px 0;
	}
}
@media(max-width:767px) {
	#search .page-content, #pagenotfound .page-content{
		padding: 0;
	}
	#pagenotfound .text-left{
		text-align: center;
	}
	#pagenotfound .text-left img{
		width: 50%;
	}
	#pagenotfound #search_widget{
		margin: auto;
	}
}
@media (max-width: 481px){
	.page-content.page-not-found .icon i {
		font-size: 150px;
	}
	.page-content.page-not-found h3{
		font-size: 25px;
	}
	.page-content.page-not-found p {
		font-size: 14px;
	}
}
@media(max-width:360px) {
	#pagenotfound .large-text, #search .large-text {
		font-size: 25px;
	}
	#pagenotfound .small-text, #search .small-text {
		font-size: 13px;
	}
}