@import "mixin";
@import "varians";

.container-fluid{
	max-width: 1830px;
	padding: 0 15px;
}
.jms-row > .container{
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
}
.jms-row.slider{
	margin-top: 45px;
	position: relative;
	z-index: 1;
	.container-fluid{
		> .row{
			display: flex;
		}
	}
}
.jms-slider-wrapper{
	.text-1.first{
		&::after {
			content: "";
			width: 2.95vw;
			height: 4px;
			background: #b20f0f;
			position: absolute;
			top: -2.94vw;
			left: 0;
		}
	}
}
@media (min-width: 992px){
	#wrapper{
		margin-left: 176px;
	}
	#header {
		position: fixed;
		top: 0;
		left: 0;
		padding-top: 45px;
		z-index: 998;
		width: 217px;
		background: #fff;
		height: 100%;
		&.new-zindex{
			z-index: 99999;
		}
	}
	.header-left{
		width: 100%;
		text-align: center;
		.container{
			width: 100%;
		}
		#login-2{
			position: unset !important;
			box-shadow: unset;
		}
		.layout-column{
			.addon-box:first-child{
				display: flex;
				justify-content: center;
			}
		}
		.ajax_cart_quantity {
			top: 13px;
			right: -4px;
		}
		.mega_menu{
			margin-top: 405px;
			margin-bottom: 283px;
			display: flex;
			justify-content: center;
		}
		.addon-box{
			&:nth-child(3), &:nth-child(4){
				margin-bottom: 25px;
			}
		}
	}
}
.header-left{
	.btn-group{
		> a i{
			font-size: 24px;
		}
	}
	.btn-group > a{
		i.fa{
			font-size: 14px;
		}
	}
}


.main-site.open-sidebar1{
	.top_menu_second{
		opacity: 1;
		visibility: visible;
	}
}
.top_menu_second.v4{
	left: 217px;
}
.jms-slider-wrapper{
	.text-1{
		line-height: 0.85;
	}
	.text-2{
		font-weight: 500;
		line-height: 2.1;
	}
}
.fs-pager-wrapper {
	width: auto;
	left: 8.1vw;
	bottom: 2.8vw;
}
.banner_category{
	position: relative;
	z-index: 2;
	.right{
		margin-top: -160px;
	}
}
.newsletter{
	max-width: 1820px;
	margin: 0 auto;
}
#footer{
	padding: 60px 0;
}
@media (max-width: 1366px) and (min-width: 1200px){
	.text-1.jms-slide-content{
		font-size: 50px !important;
	}
}
@media (min-width: 992px){
	#cart_block{
		position: unset;
	}
	#cart_block .shoppingcart-box{
		background: #f7f7f7;
	}
	#cart-cl{
		top: 0;
		left: 100%;
		right: auto;
		background: #f7f7f7;
		text-align: left;
	}
	#module-group{
		bottom: 0;
		left: calc(100% + 15px);
		top: auto;
		width: 304px;
	}
}
@media (max-height: 720px){
	.header-left .mega_menu {
		margin-top: 185px;
		margin-bottom: 185px;
	}
}

@media (max-width: 1366px) and (min-width: 992px){
	#header{
		width: 176px;
	}
	.top_menu_second.v4 {
		left: 191px;
	}
}

@media (max-width: 991px) and (min-width: 768px){
	div#cart_block{
		position: relative;
	}
	div#cart-cl{
		top: calc(100% + 16px);
		right: -145px;
	}
}
@media (max-width: 991px){
	.header_slider{
		margin-top: 0;
	}
	.header-left{
		.layout-column{
			text-align: center;
			.addon-box{
				&:first-child{
					display: flex;
					justify-content: center;
					padding: 20px 0;
				}
				&:not(:first-child){
					display: inline-block;
					margin: 0 14px;
				}
			}
		}
	}
	.shoppingcart-box {
		text-align: left;
	}
	a#open-button{
		position: relative;
		bottom: 2px;
	}
}

@media (max-width: 767px){
	.btn-group.module-group-box {
		position: unset;
	}
	div#module-group{
		top: 100%;
		right: 15px;
	}
	.banner_category .right {
		margin-top: 50px;
	}
}
@media (max-width: 481px){
	.jms-slider-wrapper{
		.text-2, .btn-underline{
			font-size: 6px !important; 
		}
	}
	div#newsletter_block_left{
		.form-group{
			display: block;
			background: transparent;
			border: 0;
			input{
				text-align: center;
				background: #fff;
				margin-bottom: 15px;
				border-radius: 30px;
			}
		}
		.newsletter-btn{
			width: 100%;
		}
	}
}