@import "mixin";
@import "varians";

.header{
	background: #141414;
}
.jms-megamenu .nav > li > a {
	line-height: 27px;
	color: #fff;
	i{
		fill: #fff;
	}
}
.right-icon-group{
	svg{
		fill: #fff;
	}
	.cart-icon{
		color: #fff;
	}
	.languages-info .btn-xs, 
	.currency-info .btn-xs {
		color: #fff;
	}
}
.jms-slider-wrapper{
	.text-2{
		letter-spacing: 2px;
	}
}
#footer {
	margin-top: 0;
	padding-top: 0;
	border-top: 0;
	.footer-bottom{
		text-align: center;
		padding: 18px 0 12px;
		p {
			font-size: 10px;
			color: #858585;
			margin-bottom: 10px;
			a{
				text-decoration: underline;
				color: $subcolor;
				&:hover{
					color: $active;
				}
			}
		}
	}
}

@media (max-width: 1366px) and (min-width: 1200px){
	.jms-slider-wrapper{
		.text-2{
			font-size: 35px !important;
			letter-spacing: 0;
		}
		.text-3{
			font-size: 14px !important;
		}
	}
}