@import "mixin";
@import "varians";

.header{
	.menu{
		display: flex;
	}
	#jms_ajax_search .btn-search span{
		display: none;
	}
}
.jms-banner{
	> a{
		display: block;
		overflow: hidden;
	}
	.banner-content{
		position: unset;
		text-align: center;
		margin-top: 18px;
		.banner-title{
			font-size: 24px;
			padding-bottom: 9px;
		}
		.banner-desc{
			color: $subcolor;
			padding-bottom: 19px;
		}
	}
}
#footer{
	.find-us {
		display: flex;
	}
}