@import "mixin";
@import "varians";

.container-fluid{
	max-width: 1910px;
	padding: 0 15px;
}
.feature-box{
	display: block;
	padding: 0;
	position: relative;
	margin-bottom: 20px;
	.image{
		display: block;
	}
	&.box-1{
		.js-circle{
			position: absolute;
			left: 55%;
			top: 30%;
		}
		.dropdown-menu{
			left: calc(55% + 34px);
			top: calc(30% + 34px);
		}
	}
	&.box-2{
		.js-circle{
			position: absolute;
			left: 38%;
			top: 75%;
		}
		.dropdown-menu{
			left: calc(38% + 34px);
			top: calc(75% + 34px);
		}
	}
	&.box-3{
		.js-circle{
			position: absolute;
			left: 50%;
			top: 45%;
		}
		.dropdown-menu{
			left: calc(50% + 34px);
			top: calc(45% + 34px);
		}
	}
	&.box-4{
		.js-circle{
			position: absolute;
			right: 33%;
			top: 33%;
		}
		.dropdown-menu{
			right: calc(33% + 45px);
			top: calc(24% + 0px);
			left: auto;
		}
	}
	&.box-5{
		.js-circle{
			position: absolute;
			left: 37%;
			top: 49%;
		}
		.dropdown-menu{
			left: calc(37% + 34px);
			top: calc(49% + 34px);
		}
	}
	&.box-6{
		.js-circle{
			position: absolute;
			left: 49%;
			top: 64%;
		}
		.dropdown-menu{
			left: calc(49% + 34px);
			top: calc(64% + 34px);
		}
	}
	&.box-7{
		.js-circle{
			position: absolute;
			left: 57%;
			top: 78%;
		}
		.dropdown-menu{
			left: calc(57% + 34px);
			top: calc(54% + 34px);
		}
	}
	&.box-8{
		.js-circle{
			position: absolute;
			left: 35%;
			top: 35%;
		}
		.dropdown-menu{
			left: calc(35% + 34px);
			top: calc(35% + 34px);
		}
	}
	.dropdown-menu{
		width: 200px;
		padding: 0;
		z-index: 9 !important;
	}
	.include_content_s{
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.product-preview{
			&:hover{
				.product_action{
					margin-top: -60px;
				}
			}
			.product-info{
				min-height: auto;
			}
		}
		.product-link{
			font-size: 14px;
		}
		.product_action{
			margin-top: -30px;
			background: transparent;
		}
		.js-circle {
			cursor: pointer;
			position: absolute;
			background: #fff;
			width: 34px;
			height: 34px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			&:hover{
				background: #000;
				border: 2px solid #fff;
				i{
					color: #fff;
				}
			}
			i{
				font-size: 16px;
				color: #000;
			}
		}
		.product-miniature{
			background: #fff;
			border: 10px solid #fff;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
		}
	}
}
.footer-top-2 .container{
	border: 0;
}
#footer {
	padding: 22px 0 80px;
}

@media (max-width: 991px){
	.feature-box{
		&.box-2 .dropdown-menu {
			left: calc(29% + 34px);
			top: calc(79% + 34px);
		}
		&.box-6 .dropdown-menu {
			left: calc(0% + 0px);
			top: calc(64% + 40px);
		}
		&.box-8 .dropdown-menu {
			left: calc(0% + -19px);
			top: calc(16% + 34px);
		}
	}
}
@media (max-width: 767px){
	.feature-box .dropdown-menu{
		left: 50% !important;
		transform: translateX(-50%) !important;
	}
}